@model IEnumerable<Candidate>
@{ViewData["Title"]  = "Applicants";}

@if(Model.Count() > 0) 
    {
        <h6 class="display-6">List of Applicants(@Model.Count())</h6>
        <table class="table tabel-hover table-stripped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>FullName</th>
                    <th>ApplyAt</th>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Candidate candidate in Model)
                {
                    <tr>
                        <th>@candidate.Email</th>
                        <th>@candidate.FullName</th>
                        <th>@candidate.ApplyAt</th>
                        <th>@candidate.SelectedCourse</th>
                    </tr>
                }
            </tbody>
        </table>
    } 
    else 
    {
        <div class="alert alert-info">No candidates found. Please click here to <a class="alert-link" asp-action="Apply">apply</a>.</div>
    }
